body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.timerDisplay {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #333;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#console {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 50px 10px;
    background-color: #f8f8f8;
    color: rgb(80, 62, 104);
    text-align: center; /* or left, right, justify */
}
